.App {
  margin: 20px;
  text-align: center;
}

.Button {
  width: 100px;
  height: 25px;
  background: #FFFFFF;
  border-radius: 4px;
  border-color: #004980;
  border-width: thin;
  font-size: 15px;
  color: #004980;
  margin: 4px;
}

.Clock {
  margin-top: 60px;
}

.Color {
  color: #004980;
}

.Squares {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px;
}

.Blue {
  width: 100px;
  height: 100px;
  background: dodgerblue;
  border: inherit;
}

.Green {
  width: 100px;
  height: 100px;
  background: green;
  border: inherit;
}

.Red {
  width: 100px;
  height: 100px;
  background: red;
  border: inherit;
}

.Books {
  text-align: initial;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 50px;
}

.Message {
  margin-left: 10px;
  color: red;
}